@charset "UTF-8";
// -----------------------------------------------------------------
// Foundation
// -----------------------------------------------------------------
@import 'foundation/all';
// -----------------------------------------------------------------
// layout
// -----------------------------------------------------------------
@import 'layout/all';
// -----------------------------------------------------------------
// components
// -----------------------------------------------------------------
@import 'components/all';
// -----------------------------------------------------------------
// pages
// -----------------------------------------------------------------
@import 'pages/pages';
.page-enter,
.page-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.layout-enter,
.layout-leave-active {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.4s;
}
