{
  "globals": {
    "NodeJS": true,
    "$fetch": true
  },
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:import/typescript"],
  "rules": {},
  "ignorePattern": ["node_modules/", ".output/", "public/", ".nuxt"]
}
