{
  "extends": ["stylelint-config-recommended", "stylelint-config-standard-scss"],
  "overrides": [
    {
      "files": ["**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "string-quotes": "single",
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "ignore": ["after-comment", "first-nested", "inside-block"]
      }
    ],
    "at-rule-empty-line-before": null,
    "declaration-empty-line-before": "never",
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "function",
          "if",
          "for",
          "each",
          "mixin",
          "include",
          "extend",
          "-webkit-keyframes"
        ]
      }
    ]
  }
}
