footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem 0 2rem;
  font-size: 10px;
  display: flex;
  justify-content: center;
  .collection {
    .title {
      font-family: $family-font-en-custom;
      font-size: 60px;
      margin-bottom: 8px;
    }
    .description {
      font-size: $font-size-base;
      font-weight: bold;
      margin-bottom: 6px;
    }
    .content {
      display: grid;
      grid-template-columns: 55px 1fr;
      font-size: $font-size-base;
      margin-bottom: 6px;
    }
  }
}
