header {
  z-index: 5;
  position: absolute;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .icon {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;
    height: 15px;
    align-items: flex-start;
    .color {
      width: 10px;
      height: 10px;
      background: $light0;
      margin: 0 5px;
      cursor: pointer;
      transition: 0.2s $easeOutCubic;
      &:last-child {
        margin-right: unset;
      }
      &.light {
        background-color: $light-font-color;
      }
      &.yellow {
        background-color: $yellow-font-color;
      }
      &.red {
        background-color: $red-font-color;
      }
      &.blue {
        background-color: $blue-font-color;
      }
      &.green {
        background-color: $green-font-color;
      }
      &.is-active {
        height: 15px;
        transition: 0.2s $easeInCubic;
      }
    }
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
  &.animation {
    animation: fadeIn 3s;
  }
}
