nav {
  position: fixed;
  width: 100%;
  height: auto;
  bottom: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  z-index: 20;
  animation: fadeIn 3s;
  &.page {
    top: 10vh;
    bottom: unset;
  }
  .links {
    width: 100%;
    height: auto;
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &.page {
      padding: 0;
      justify-content: flex-end;
    }
  }
  .link {
    height: auto;
    padding: 0 3vw;
    &.page {
      width: auto;
      padding: 0;
      &::after {
        content: '|';
        padding: 0 3vw;
      }
      &:last-child {
        padding-right: 1vw;
        &::after {
          content: '';
          padding: 0 1vw;
        }
      }
    }
    .link__text {
      font-weight: 600;
      color: var(--color);
      display: inline-block;
      padding: 4px 0;
    }
  }
}
