.the-bar {
  background: $light0;
  z-index: 5;
  position: absolute;
  height: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 5px;
  &__icon {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;
    .color {
      width: 10px;
      height: 10px;
      background: $light0;
      margin: 0 5px;
      cursor: pointer;
      &:last-child {
        margin-right: unset;
      }
      &.light {
        background-color: $light-font-color;
      }
      &.yellow {
        background-color: $yellow-font-color;
      }
      &.red {
        background-color: $red-font-color;
      }
      &.blue {
        background-color: $blue-font-color;
      }
      &.green {
        background-color: $green-font-color;
      }
      &.is-active {
        height: 15px;
      }
    }
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}
