.the-bar {
  background-color: $light-background-color;
  z-index: 12;
  position: fixed;
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__icon {
    padding: 0 20px;
  }
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}
.dark-mode {
  .the-bar {
    background-color: $dark-background-color;
  }
}
