.who-i-am {
  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid $light-font-color;
  }
  .column-2-3 {
    grid-column: 2/3;
  }
  &__title {
    display: block;
    letter-spacing: 0.1em;
    text-shadow: 2px 5px 5px $light-text-shadow;
    text-transform: uppercase;
    padding: 1vw 2vw;
    white-space: nowrap;
  }
  &__sub-title {
    font-size: 2vw;
    display: block;
    letter-spacing: 0.2em;
    padding: 1vw 2vw;
    text-transform: uppercase;
    @include mq('large', max) {
      font-size: $font-size-base;
      font-weight: bold;
    }
  }
  &__body {
    padding: 1vw 0;
    line-height: 1.2;
    text-align: left;
    &.en {
      letter-spacing: 0.1em;
    }
  }
}
.yellow-mode {
  .who-i-am {
    &__title {
      text-shadow: 2px 5px 5px $yellow-text-shadow;
    }
  }
  .grid {
    border-bottom: 2px solid $yellow-font-color;
  }
}
.red-mode {
  .who-i-am {
    &__title {
      text-shadow: 2px 5px 5px $red-text-shadow;
    }
  }
  .grid {
    border-bottom: 2px solid $red-font-color;
  }
}
.blue-mode {
  .who-i-am {
    &__title {
      text-shadow: 2px 5px 5px $blue-text-shadow;
    }
  }
  .grid {
    border-bottom: 2px solid $blue-font-color;
  }
}
.green-mode {
  .who-i-am {
    &__title {
      text-shadow: 2px 5px 5px $green-text-shadow;
    }
  }
  .grid {
    border-bottom: 2px solid $green-font-color;
  }
}
