.pages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 200px;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  .content {
    div {
      &:nth-child(n) {
        margin-bottom: 4px;
        line-height: 20px;
      }
      &:last-child {
        margin-bottom: unset;
      }
    }
  }
  .title {
    @include font-en-custom;

    margin-bottom: 18px;
  }
  .sub-title {
    @include font-ja-custom;

    margin-bottom: 12px;
  }
}
