.layout-default {
  display: flex;
  background-color: $light-background-color;
  z-index: 10;
}
.dark-mode {
  .layout-default {
    background-color: $dark-background-color;
    &__bar {
      background-color: $dark-background-color;
    }
  }
}
