.layout-default {
  display: flex;
  background-color: $light0;
  z-index: 10;
  .main {
    margin: 20px;
    z-index: 15;
    border: 2px solid $light-font-color;
    animation: fadeIn 3s;
  }
}

.yellow-mode {
  .layout-default {
    .horizontal-line {
      &::before {
        border-bottom: 2px solid $yellow-font-color;
      }
      &::after {
        border-bottom: 2px solid $yellow-font-color;
      }
    }
    .vertical-line {
      &::before {
        border-left: 2px solid $yellow-font-color;
      }
      &::after {
        border-left: 2px solid $yellow-font-color;
      }
    }
    .loading-dot {
      background: $yellow-font-color;
    }
    .main {
      border: 2px solid $yellow-font-color;
    }
  }
}
.red-mode {
  .layout-default {
    .horizontal-line {
      &::before {
        border-bottom: 2px solid $red-font-color;
      }
      &::after {
        border-bottom: 2px solid $red-font-color;
      }
    }
    .vertical-line {
      &::before {
        border-left: 2px solid $red-font-color;
      }
      &::after {
        border-left: 2px solid $red-font-color;
      }
    }
    .loading-dot {
      background: $red-font-color;
    }
    .main {
      border: 2px solid $red-font-color;
    }
  }
}
.blue-mode {
  .layout-default {
    .horizontal-line {
      &::before {
        border-bottom: 2px solid $blue-font-color;
      }
      &::after {
        border-bottom: 2px solid $blue-font-color;
      }
    }
    .vertical-line {
      &::before {
        border-left: 2px solid $blue-font-color;
      }
      &::after {
        border-left: 2px solid $blue-font-color;
      }
    }
    .loading-dot {
      background: $blue-font-color;
    }
    .main {
      border: 2px solid $blue-font-color;
    }
  }
}
.green-mode {
  .layout-default {
    .horizontal-line {
      &::before {
        border-bottom: 2px solid $green-font-color;
      }
      &::after {
        border-bottom: 2px solid $green-font-color;
      }
    }
    .vertical-line {
      &::before {
        border-left: 2px solid $green-font-color;
      }
      &::after {
        border-left: 2px solid $green-font-color;
      }
    }
    .loading-dot {
      background: $green-font-color;
    }
    .main {
      border: 2px solid $green-font-color;
    }
  }
}
