//*************************************************
// TheFooter.vue
//*************************************************
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 2rem 0 1rem;
  transition: all 0.2s ease-in-out, top 0.2s ease;
  background-color: transparent;
  mix-blend-mode: difference;
  z-index: -1;
  @include mq('medium', max) {
    margin: 2rem 0;
  }
  @include mq('small', max) {
    margin: 1rem 0;
  }
  address {
    color: $light-mode-main-color;
    font-size: $font-size-small;
    text-align: left;
    margin: 0 2.5rem;
    @include mq('medium', max) {
      margin: 0 1rem;
    }
    @include mq('small', max) {
      margin: 0 0.5rem;
    }
    @include mq('xsmall', max) {
      font-size: 10px;
    }
  }
}
.dark-mode address {
  color: $dark-mode-main-color;
}
