//*************************************************
// TheHeader.vue
//*************************************************
.header {
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0px;
  transition: all 0.2s ease-in-out, top 0.2s ease;
  background-color: transparent;
  a {
    font-weight: bold;
    transition-property: width, height;
    color: $font-main-color;
    @include textShadow;
  }
  .stroke-black {
    color: $font-accent-white-color;
    -webkit-text-stroke: 1px $font-main-color;
    -webkit-text-stroke-width: 1px;
    &:hover {
      color: $font-main-color;
      -webkit-text-stroke: 1px $font-accent-white-color;
      -webkit-text-stroke-width: 0.5px;
    }
  }
  .stroke-white {
    color: $font-main-color;
    -webkit-text-stroke: 1px $font-accent-white-color;
    -webkit-text-stroke-width: 1px;
    &:hover {
      color: $font-accent-white-color;
      -webkit-text-stroke: 1px $font-main-color;
      -webkit-text-stroke-width: 0.5px;
    }
  }
  .header-nav {
    position: relative;
    display: flex;
    margin: 1.5rem 2.5rem;
    align-items: center;
    transition: all 0.5s ease-in-out, top 0.5s ease;
    @include mq('medium', max) {
      margin: 1rem;
    }
    @include mq('small', max) {
      margin: 0.5rem;
    }
    .logo {
      display: flex;
      @include h1;
      transition: all 0.2s ease-in-out, top 0.2s ease;
    }
  }
}
.header_scroll_color {
  transform-origin: left center;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  transform: scale(0.8);
}
//*************************************************
// TheHeaderMenu.vue
//*************************************************
.header-menu-outer {
  position: relative;
  width: 5rem;
  height: 5rem;
  z-index: 760;
  margin-left: auto;
  @include mq('xlarge', max) {
    margin-left: auto;
  }
  @include mq('medium', max) {
    width: 4rem;
    height: 4rem;
  }
  @include mq('small', max) {
    width: 3rem;
    height: 3rem;
  }
}
.header-menu {
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 760;
  width: 5rem;
  height: 5rem;
  text-decoration: none;
  @include boxShadow;
  cursor: pointer;
  @include mq('medium', max) {
    width: 4rem;
    height: 4rem;
  }
  @include mq('small', max) {
    width: 3rem;
    height: 3rem;
  }
  &:active,
  &:hover {
    @include boxShadow--hover;
    @include textShadow--hover;
    .outer-menu {
      background: -webkit-linear-gradient(
        right,
        $font-main-color,
        $font-base-color
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .outer-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include font-size-base;
  }
}

.wrapper-menu {
  background: $background-main-color;
  color: $font-main-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 750;
  display: flex;
  @include font-size-base;
  transition: transform 2s ease, opacity 2s ease;
  .wrapper-menu-left {
    display: flex;
    background: $background-base-color;
    color: $font-base-color;
    width: 30%;
    height: auto;
    @include mq('medium', max) {
      width: 25%;
    }
    @include mq('small', max) {
      width: 12%;
    }
    .fade-text {
      position: absolute;
      color: $font-accent-white-color;
      padding: 1em;
      @include textShadow;
    }
  }
  .wrapper-menu-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    justify-content: center;
    align-items: center;
    @include mq('medium', max) {
      width: 75%;
    }
    @include mq('small', max) {
      width: 88%;
    }
    ul {
      width: 50%;
      height: 40%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: transform 0.6s ease-in-out, top 0.5s ease;
      @include boxShadow;
      @include mq('xlarge', max) {
        width: 70%;
      }
      @include mq('large', max) {
        width: 70%;
      }
      @include mq('medium', max) {
        width: 70%;
      }
      @include mq('small', max) {
        width: 80%;
      }
      li {
        padding: 0.2em 0;
        width: 50%;
        left: 25%;
        position: relative;
        transition: transform 0.6s ease-in-out, top 0.5s ease;
        margin-bottom: 0.5em;
        @include mq('xlarge', max) {
          width: 70%;
          left: 18%;
        }
        @include mq('large', max) {
          width: 70%;
          left: 18%;
        }
        @include mq('medium', max) {
          width: 70%;
          left: 18%;
        }
        @include mq('small', max) {
          width: 80%;
          left: 10%;
        }
        &:last-child {
          padding-bottom: 0.2em;
          margin-bottom: unset;
        }
        a {
          display: flex;
          justify-content: space-between;
          color: $font-main-color;
          text-decoration: none;
          transition: color 0.6s ease;
          transition: transform 0.6s ease-in-out, top 0.5s ease;
          align-items: center;
          @include boxShadow;
          padding: 0.4em 0;
          &:hover {
            @include boxShadow--hover;
            @include textShadow--hover;
          }
          .span-left,
          .span-right {
            padding: 0 0.8em;
          }
          .span-right {
            &.ja {
              font-size: 16px;
              @include mq('small', max) {
                font-size: 14px;
              }
            }
          }
          &.active {
            @include boxShadow--hover;
            @include textShadow--hover;
          }
        }
      }
    }
    address {
      color: $font-base-color;
      font-size: $font-size-small;
      text-align: center;
      width: 100%;
      position: absolute;
      bottom: 5%;
      z-index: 1;
      @include mq('xsmall', max) {
        font-size: 10px;
      }
    }
  }
}
