.layout-pages {
  display: flex;
  background-color: $light0;
  z-index: 10;
  .main {
    width: 100%;
    height: 100%;
    margin: 20px;
    z-index: 15;
    border-top: 2px solid $light-font-color;
    border-left: 2px solid $light-font-color;
    border-right: 2px solid $light-font-color;
  }
}
.yellow-mode {
  .layout-pages {
    .main {
      border-top: 2px solid $yellow-font-color;
      border-left: 2px solid $yellow-font-color;
      border-right: 2px solid $yellow-font-color;
    }
  }
}
.red-mode {
  .layout-pages {
    .main {
      border-top: 2px solid $red-font-color;
      border-left: 2px solid $red-font-color;
      border-right: 2px solid $red-font-color;
    }
  }
}
.blue-mode {
  .layout-pages {
    .main {
      border-top: 2px solid $blue-font-color;
      border-left: 2px solid $blue-font-color;
      border-right: 2px solid $blue-font-color;
    }
  }
}
.green-mode {
  .layout-pages {
    .main {
      border-top: 2px solid $green-font-color;
      border-left: 2px solid $green-font-color;
      border-right: 2px solid $green-font-color;
    }
  }
}
