.pointer {
  transform: translate(-10px, -10px);
  position: fixed;
  top: -4px;
  left: -4px;
  z-index: 1000;
  pointer-events: none;
  @include mq('medium', max) {
    display: none;
  }
  .pointer-outer {
    transition: all 0.5s $ease-out-cubic;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    pointer-events: none;
    border: 1px solid var(--color);
  }
  .pointer-inner {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 7px;
    left: 7px;
    border-radius: 50%;
    pointer-events: none;
    background: var(--color);
  }
  .pointer-isover {
    width: 50px;
    height: 50px;
    top: -18px;
    left: -18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 4px;
    border: 1px solid var(--color);
    opacity: 0.7;
  }
  .txt {
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
  }
}
