//*************************************************
// ThePointer.vue
//*************************************************
.pointer {
  -webkit-transform: translate(-10px, -10px);
  transform: translate(-10px, -10px);
  position: fixed;
  top: -4px;
  left: -4px;
  z-index: 1000;
  pointer-events: none;
  mix-blend-mode: exclusion;
  @include mq('medium', max) {
    display: none;
  }
  .pointer_cursor {
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -webkit-transition-property: top, left, width, height;
    transition-property: top, left, width, height, 0.3s;
    transition-timing-function: ease-out;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 6px;
    left: 6px;
    border-radius: 50%;
    pointer-events: none;
    background: #fff;
    mix-blend-mode: exclusion;
  }
  .pointer_isover {
    width: 50px;
    height: 50px;
    top: -18px;
    left: -18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    padding: 4px;
    border: 2px solid $font-main-transparent-color;
  }
  .txt {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    color: $font-main-color;
    top: 50%;
    left: 50%;
    white-space: nowrap;
  }
  .spin {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6.5rem;
    margin-top: -6.5rem;
    width: 13rem;
    height: 13rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }
}
